.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 16px 20px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 16px 20px;
  word-break: normal;
}

/* .tg .tg-across {
  border-color: inherit;
  font-weight: bold;
  text-align: left;
  vertical-align: top
} */

.tg .tg-down {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}

td {
  background-color: rgb(211, 211, 211);
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 20px;
  pointer-events: all;
  border: 2px solid lightgrey;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.board {
  display: flex;
  justify-content: center;
}
